:root {
    --body-1-font-family: "Poppins", Helvetica;
    --body-1-font-size: 16px;
    --body-1-font-style: normal;
    --body-1-font-weight: 400;
    --body-1-letter-spacing: 0.08px;
    --body-1-line-height: normal;
    --button-font-family: "Poppins", Helvetica;
    --button-font-size: 14px;
    --button-font-style: normal;
    --button-font-weight: 500;
    --button-letter-spacing: 0.175px;
    --button-line-height: normal;
    --caption-font-family: "Poppins", Helvetica;
    --caption-font-size: 12px;
    --caption-font-style: normal;
    --caption-font-weight: 400;
    --caption-letter-spacing: 0.048000000715255745px;
    --caption-line-height: normal;
    --container: rgba(242, 242, 242, 1);
    --gray-body: rgba(94, 94, 94, 1);
    --gray-title: rgba(94, 94, 94, 1);
    --headline-2-font-family: "Poppins", Helvetica;
    --headline-2-font-size: 58px;
    --headline-2-font-style: normal;
    --headline-2-font-weight: 300;
    --headline-2-letter-spacing: -0.29px;
    --headline-2-line-height: normal;
    --headline-3-font-family: "Poppins", Helvetica;
    --headline-3-font-size: 47px;
    --headline-3-font-style: normal;
    --headline-3-font-weight: 500;
    --headline-3-letter-spacing: 0px;
    --headline-3-line-height: normal;
    --headline-4-font-family: "Poppins", Helvetica;
    --headline-4-font-size: 33px;
    --headline-4-font-style: normal;
    --headline-4-font-weight: 500;
    --headline-4-letter-spacing: 0.0825px;
    --headline-4-line-height: normal;
    --headline-5-font-family: "Poppins", Helvetica;
    --headline-5-font-size: 23px;
    --headline-5-font-style: normal;
    --headline-5-font-weight: 400;
    --headline-5-letter-spacing: 0px;
    --headline-5-line-height: normal;
    --headline-6-font-family: "Poppins", Helvetica;
    --headline-6-font-size: 19px;
    --headline-6-font-style: normal;
    --headline-6-font-weight: 400;
    --headline-6-letter-spacing: 0.02850000113248825px;
    --headline-6-line-height: normal;
    --primary: rgba(237, 3, 3, 1);
    --subtitle-1-font-family: "Poppins", Helvetica;
    --subtitle-1-font-size: 16px;
    --subtitle-1-font-style: normal;
    --subtitle-1-font-weight: 400;
    --subtitle-1-letter-spacing: 0.024000000953674317px;
    --subtitle-1-line-height: normal;
    --subtitle-2-font-family: "Poppins", Helvetica;
    --subtitle-2-font-size: 14px;
    --subtitle-2-font-style: normal;
    --subtitle-2-font-weight: 400;
    --subtitle-2-letter-spacing: 0.014000000208616258px;
    --subtitle-2-line-height: normal;
  }